@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-1 {
    width: 8.33%;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.circle {
    height: 60px;
    width: 60px;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.button {
    background: #2C49FE;
    border-radius: 36px;
    padding: 15px 28px;
    color: #FFFFFF;
}

.footer-text-color {
    color: #FFFFFF;
}

.white-space {
    white-space: nowrap;
}

.transform-3d {
    transform: translate3d(3px, 1px, 10px);
}

.pt-pb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.gap {
    gap: 20px;
}

.ml-48 {
    margin-left: 48px;
}

.gappp {
    gap: 8px;
}

.ml-100 {
    margin-right: 100px;
    margin-left: 10px;
}

.ml-30 {
    margin-right: 80px;
}

.d-inline-block {
    display: inline-block;
}

.mt-24 {
    margin-top: 24px;
}

.padding-right-input {
    padding-right: 7px;
}

.pe-1 {
    padding-right: 10px;
}

.input {
    border: none;
}

.img {
    padding-top: 5px;
    padding-left: 8px;
    padding-bottom: 5px;
}

.boxxxx {
    border-radius: 35px;
    border: 1px solid #9CA0BE;
    background-color: white;
}

.showbox {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(45, 60, 174, 0.53);
}


.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mr-10 {
    margin-right: 10px;
}

.first-btn {
    color: #000000;
    background: rgba(44, 73, 254, 0.1);
    border-radius: 23px;
    padding: 12px 20px;
}

.second-btn {
    color: #FFFFFF;
    background: #2C49FE;
    border-radius: 23px;
    padding: 12px 20px;
}

.txt-align-center {
    text-align: center;
}

.button-logout {
    background: #2C49FE;
    border-radius: 23px;
    border: 1px solid #2C49FE;
    width: 111px;
    height: 40px;
    padding-top: 7px;
    padding-left: 23px;
    color: #FFFFFF;
}

.button-logout:hover {
    color: #2C49FE;
    background: #FFFFFF;
}

.nav-color {
    background: #FFFFFF;
    box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.05);
}

.navbar-color-black {
    color: #000000;
}

.mr-50 {
    margin-right: 50px;
}

.w-100 {
    width: 100%;
}

.ff-700-poppins {
    font-family: 'poppins', sans-serif;
    font-weight: 700;
}

.ff-600-poppins {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
}

.ff-500-poppins {
    font-family: 'poppins', sans-serif;
    font-weight: 500;
}

.ff-400-poppins {
    font-family: 'poppins', sans-serif;
    font-weight: 400;
}

.fs-16 {
    font-size: 16px;
}

.fs-20 {
    font-size: 20px;
}

.fs-36 {
    font-size: 36px;
}

.fs-48 {
    font-size: 48px;
}

.mt-48 {
    margin-top: 48px;
}

.pink-image {
    border-radius: 30px;
}

.username-color {
    color: #666666;
}

.event-color {
    color: #2C49FE;
}

.free-color {
    color: #01C8FF;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

header nav ul li {
    margin-left: 20px;
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
}

.z-index-1 {
    z-index: 3;
}

.min-vh-100 {
    min-height: 100vh;
    padding-top: 48px;
}

.h-100 {
    height: 100%;
}

.object-fit {
    object-fit: cover;
}

.fs-12 {
    font-size: 12px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.input-box {
    width: 1244px;
    background: #F1F2F5;
    border-radius: 0px 20px 20px 20px;
}

.pt-15 {
    padding-top: 15px;
}

.pl-30 {
    padding-left: 30px;
}

.pb-15 {
    padding-bottom: 15px;
}

.ml-45 {
    margin-left: 45px;
}

.pl-15 {
    padding-left: 15px;
}

.pt-48 {
    padding-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-10 {
    margin-top: 10px;
}

.bg-black {
    background-color: black;
}

.coma {
    max-Width: 118px;
    Height: 97.28px;
}

.facebook-circle {
    height: 23px;
    width: 23px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-16 {
    margin-top: 16px;
}


.free-color {
    color: #01C8FF;
}

.twitter-circle {
    height: 23px;
    width: 23px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.boss {
    height: 100%;
    width: 100%;
    padding: 13px 23px;
    text-align: center;
    background-color: rgba(45, 60, 174, 0.53);
}

.box {
    width: 719px;
}

.footerpara {
    max-width: 346px;
    color: white;
    margin-top: 45px;
    margin-bottom: 30px;
}


.fs-14 {
    font-size: 14px;
}

/* ---------------------------------------------------------grid start----------------------------------------------------- */

.image-1-grid {
    grid-row: 1/2;
    grid-column: 1/2;
}

.image-2-grid {
    grid-row: 1/2;
    grid-column: 2/3;
}

.image-3-grid {
    grid-row: 1/3;
    grid-column: 3/4;
}

.image-4-grid {
    grid-row: 2/3;
    grid-column: 1/3;
}

.image-5-grid {
    grid-row: 3/4;
    grid-column: 1/2;
}

.image-6-grid {
    grid-row: 3/4;
    grid-column: 2/4;
}

.p-sticky {
    position: sticky;
    top: 0;
    z-index: 4;
}

.mr-75 {
    margin-right: 55px;
}


.grid-container {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: none;
    gap: 20px;
    padding: 12px;
}

/* ---------------------------------------------------------grid end----------------------------------------------------- */


@media (max-width:992px) {
    label[for="menuIcon"] {
        cursor: pointer;
        width: 35px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .mr-0 {
        margin-right: 0;
    }

    .mb-nav-12 {
        margin-bottom: 12px;
    }

    label[for="menuIcon"]>span {
        width: 100%;
        height: 3px;
        background-color: #2C49FE;
    }

    .sm-screen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        left: -100%;
        opacity: 0;
        z-index: 2;
        pointer-events: none;
        transition: all 200ms linear;
    }

    input[type="checkbox"]:checked+ul.sm-screen {
        opacity: 1;
        pointer-events: all;
        left: 0;
    }

    .mr-sm-0 {
        margin-right: 0;
    }
}

@media (max-width:1215px) {
    .col-md-12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .md-change {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .flex-direction {
        flex-direction: column-reverse;
    }

    .fs-md-14 {
        font-size: 14px;
    }
}

@media (max-width:768px) {
    .col-sm-12 {
        width: 100%;
    }

    .md-display-change {
        align-items: none;
        justify-content: none;
    }

    .flex-md-direction {
        flex-direction: column;
        align-items: start;
        margin-bottom: 30px;
        gap: 20px;
    }

    .fs-md-34 {
        font-size: 34px;
    }

    .mr-50 {
        margin-right: 75px;
    }

}

@media (min-width:1220px) {
    .md-display-change {
        display: flex;
        align-items: center;
        justify-content: end;
    }
}

@media (max-width:720px) {
    .col-smm-4 {
        width: 33.33%;
        margin-bottom: 48px;
    }

    .w-70 {
        width: 70%;
    }

    .fs-sm-16 {
        font-size: 16px;
    }

    .col-smm-12 {
        width: 100%;
    }

    .fs-smm-20 {
        font-size: 18px;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .w-720-90px {
        max-width: 90px;
    }

    .image-11-grid {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .image-12-grid {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .image-13-grid {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .image-14-grid {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    .image-15-grid {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .image-16-grid {
        grid-row: 4/5;
        grid-column: 1/3;
    }

    .grid-2-container {
        gap: 8px;
    }
}

@media (max-width:576px) {
    .fs-xsm-14 {
        font-size: 14px;
    }

    .display-none {
        display: none;
    }

    .mb-md-20px {
        margin-bottom: 20px;
    }

}


@media (max-width:600px) {
    .mt-15 {
        margin-top: 15px;
    }

    .ml-sm-10 {
        margin-left: 10px;
    }
}

@media (max-width:524px) {
    .mt-sm-15 {
        margin-top: 15px;
    }

    .ml-smm-10 {
        margin-left: 10px;
    }

    .fs-sm-28 {
        font-size: 28px;
    }

}

@media (max-width:359px) {
    .mt-smm-15 {
        margin-top: 15px;
    }

    .ml-smmm-10 {
        margin-left: 10px;
    }

    .w-359-70px {
        max-width: 70px;
    }

    .fs-sm-12 {
        font-size: 12px;
    }

    .mt-smm-10 {
        margin-top: 10px;
    }
}

@media (max-width:415px) {
    .mt-smm-10 {
        margin-top: 10px;
    }

    .fs-smmm-12 {
        font-size: 12px;
    }
}

@media (max-width:450px) {
    .image-11-grid {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .image-12-grid {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .image-13-grid {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .image-14-grid {
        grid-row: 4/5;
        grid-column: 1/2;
    }

    .image-15-grid {
        grid-row: 5/6;
        grid-column: 1/2;
    }

    .image-16-grid {
        grid-row: 6/7;
        grid-column: 1/2;
    }
}

@media (min-width:415px) {
    .d-flexxx {
        display: flex;
    }
}